    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>关于半桶水</h2>
              <br/>
                <p><font size="4">INTJ的处女座</font></p>
                <p><font size="4">塑料段位Java游戏开发</font></p>
                <p><font size="4">塑料段位Cocos游戏开发</font></p>
                <p><font size="4">青铜段位Erlang游戏服务器开发</font></p>
                <br/>
              </div>
        </div>
    </section>
